/* || General */

input.form-control, span.input-group-text, .input-group-append > button {
 background-color: rgb(239, 239, 239) !important;
 border:none !important;
}

input.form-control {
  height: 50px !important;
}

.input-group {
  margin-bottom:10px !important;
}

input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
input:focus::placeholder{
  color: #b3b3b3;
}

.form-group label {
  display: none !important;
}

.input-group-append > button:hover {
  color:var(--mid-color) !important;
}



/* || Login and Register */

/* Mobile */


.auth-wrapper{
  height:85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* For Desktop*/
@media only screen and (min-width: 768px) {
  .auth-container {
    background-repeat: no-repeat;
    background-position: 90% 95% ;
    
  }

  #login-container {
    background-image: url('../img/illustrations/login.svg');
    background-size: 15%;
  }

  #register-container {
    background-image: url('../img/illustrations/register.svg');
    
  }
  .auth-wrapper{
    max-width:400px;
    height:700px;
    padding:30px;
    border:1px solid #ccc;
    border-radius:40px;
    justify-content: space-evenly !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
}

.login-register {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-register {
    background-color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
}

.book-register::before {
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: var(--brand-color);
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}

.book-register:hover::before {
    transform: rotateY(0deg);
}

.book-register .page-book-register {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.book-register .page-book-register.page-login {
    background-color: var(--dark-color);
    border-radius: 20px 0 0 20px;
    left: 0;
}

.book-register .page-book-register.page-register {
    background-color: var(--mid-color);
    right: 0;
    border-radius: 0 20px 20px 0;
}

/* Alerts */
form.login > div.alert.alert-block.alert-danger {
  display: none !important;
}
ul.form-errors {
  background-color: palevioletred;
  color:black;
  padding:20px 5px;

}
ul.form-errors li, ul.errorlist li {
  list-style: none !important;
}

ul.errorlist {
  color:palevioletred !important;
  font-weight: bold !important;
}

.input-invalid{
  background-color:palevioletred !important;
  
}

.input-invalid::placeholder{
  color:white !important;
}
