/* || Variables */

/* Colors */   
:root {
    --brand-color: #93aec1;
    --darkest-color: #1A262F;
    --dark-color: #9dbdba;
    --mid-color:  #ec6a52;
    --light-color:#f8b042 ;
    --joy-color: #f3b7ad;
    --lightest-color: #f0eae0;
      }



    
  
/* Fonts */

@font-face {
  font-family: 'OpenDyslexic';
  src: url("../fonts/OpenDyslexic-Bold.otf");
}

  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/poppins/Poppins-Regular.otf");
  }

  @font-face {
    font-family: 'Droid-Serif';
    src: url("../fonts/droid-serif.regular.ttf");
  }


/* || General styles */

body {
  font-family: 'Poppins';
}

@media only screen and (max-width:767px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }

  .container {
    padding-left:0px !important;
    padding-right:0px !important;
  }
}
  

/* … */

/* || Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenDyslexic';
}

a:hover{
  text-decoration: none;
}



.brand-color, a.mid-color:hover {
  color: var(--brand-color);
}



.dark-color {
  color: var(--dark-color);
}

.darkest-color {
  color: var(--darkest-color);
}

.joy-color {
  color: var(--joy-color);
}

.mid-color, a.brand-color:hover {
  color: var(--mid-color);
}

.light-color {
  color: var(--light-color);
}

.lighest-color {
  color: var(--lightest-color);
}

/* Responsive */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem !important ;
  }
}
  


/* || Header and Main Navigation */

.navbar a {
  color: var(--dark-color);
}

/* … */

/* || Language selector */


#language_select {
  padding:10px 50px;
}

.language--select {
border:none;
background:transparent !important;
color:var(--light-color) !important;
}

.btn-transparent {
  background: transparent !important;
}

.dropdown-toggle::after{
  border-top-color: var(--light-color)!important;
}

@media only screen and (max-width: 600px) {
  #language_select {
    padding:20px 0px;
    }
}

/* … */

/* || Buttons */

.btn-wide {
  width: 90%;
  padding:8px 20px;
}

.btn-brand-color {
  background-color: var(--brand-color);
}

.btn-brand-color:hover {
  color:black;
  background-color: var(--mid-color);
}